.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personagem-vivo {
  background-color: green;
  padding: 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.personagem-nao-vivo {
  background-color: steelblue;
  padding: 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  width: 200px;
}

.nome {
  font-size: 25px;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  max-width: 16.1ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  font-size: 30px;
  color: black;
}

img {
  width: 200px;
}

@media (min-width: 1024px) {

  .container{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .titulo {
    font-size: 35px;
  }

  .personagem-vivo,
  .personagem-nao-vivo {
    width: 100px;
    margin: 10px;
  }

  p {
    font-size: 12px;
  }

  .nome {
    font-size: 14px;
  }

  img {
    width: 100px;
  }
}
